#menulineup {
    padding: 0;
    width: 100%;
    border-top: 5px solid #000000; /*Color de la línea superior*/
    background: transparent;
    }
    
    #menulineup ul{
    margin:0;
    margin-left: 40px; /*Margen izquierdo entre la primera pestaña y el borde*/
    padding: 0;
    list-style: none;
    display:inline-block;
    }
    
    #menulineup li{
    display: inline;
    margin: 0 2px 0 0;
    padding: 0;
    text-transform:uppercase;
    }
    
    #menulineup a{
    float: left;
    display: block;
    font: bold 18px Arial;
    color: black;
    text-decoration: none;
    margin: 0 1px 0 0; /*Margen entre cada pestaña*/
    padding: 5px 10px 5px 10px;
    background-color: rgb(26, 66, 104); /*Color de las pestañas*/
    border-bottom: 8px solid rgb(199, 164, 9);
    }
    
    #menulineup a:hover{
    background-color: rgb(199, 164, 9); /*Color de las pestañas al pasar el cursor*/
    padding-top: 10px;
    padding-bottom: 0;
    border-bottom-color: #000000; /*Color del borde inferior al pasar el cursor*/
    color: white;
    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-style: italic;
    text-align: left;
    font-size: 35px;
    text-align: center;
    color: rgb(199, 164, 9);
    text-shadow: 2px 2px 2px rgb(2, 28, 53);
    }